<p [ngStyle]="{'color':this.color, 'fontSize': this.font+'px', 'fontWeight':this.bold === false ? 'normal' : 'bold' ,
'fontStyle':this.italics === false ? 'normal' : 'italic'}
">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, illo itaque! Repellat quas eligendi, libero esse unde perferendis voluptates ducimus ipsum ut dolor! Assumenda porro laborum dolorem nemo fugit iusto?
</p>
<br>
<div id = "options">
  
  <label for="color">Text Color</label>
<input type="text" name="color" id="color" [(ngModel)] = "color"  placeholder="red, blue etc."> 
<label for="font">Font Size</label>
<input type="text" name="font" id="font" [(ngModel)] = "font" > 
<input type="checkbox" name="font" id="font" [(ngModel)] = "bold" (click)="toggleBold()" > Bold
<input type="checkbox" name="italics" id="italics" [(ngModel)] = "italics" (click)="toggleItalics()" > Italics
</div>

